.button {
    background-color: #fff;
}

.disabled {
    background-color: #ccc;
}

.secondary {
    background-color: #41459b;

}

.default {
    background-color: green;

}

.red {
    background-color: red;
    color: white;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
