/* Стили для пагинации */
.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination select {
    width: auto;
    margin: 0 10px;
    appearance: auto;
    height: 40px;
}

/* Дополнительные стили для текста */
.text1 {
    margin-right: 10px;
    font-size: 16px;
}

.text2 {
    margin-left: 10px;
    font-size: 16px;
}

/* Стили для состояния загрузки */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
